#app{
  width:auto;
  font-family: 'Open Sans', sans-serif;
  position:relative;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:$dark-white;
}
.navbar-default{
  position:absolute;
  width:100%;
  background:transparent;
  border:none;
  color:$white;
  .navbar-nav{
    .dropdown-menu{
      li a{
        color:#333333;
      }
    }
    li{
      a{
        color:$white;
      }
    }
    .open{
      a{
        background:transparent;
      }
    }
  }
  .navbar-brand{
    color:$white;
  }
}
[v-cloak]{
  display:none;
}
