.home{
  @include flexbox();
  height:inherit;
  justify-content:center;
  align-items:center;
  .content{
    @include flexbox();
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
  }
  #quotes{
    li{
      text-decoration:none;
      list-style: none;
      font-size:20px;
    }
  }
}